.DS_Store
*.prj
/AquaCropOS_v50a/FileLocations.txt
/AquaCropOS_v50a/Wrapper_Outputs/
/AquaCropOS_v50a/Wrapper_Inputs/
/AquaCropOS_v50a/__pycache__/
/Website/Backend/venv/
/Website/Backend/server/.env
/Website/Backend/server/alphagarden-3d4f7-firebase-adminsdk-tll4n-2648401a5b.json
.vscode
